.listItem {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.listItemSuccess {
    color: #0f5132;
    background-color: #d1e7dd;
}
.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    margin: 8px;
}
.alter {
    padding-left: 10px;
    color: rgb(4, 4, 242);
    cursor: pointer;
}
.btn {
    margin: 10px 0;
    padding: 4px;
    border-radius: 5px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        background-color: #bb2d3b;
        border-color: #b02a37;
    }
}
.input {
    width: 99%;
    padding: 8px;
    border-radius: 10px;
}
